<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test thread-count="5" name="Test">
	
		<parameter name="executionType" value="local"></parameter>
		<parameter name="browserName" value="CHROME"></parameter>

		<classes>
			<class name="com.cogmento.runner.RunnerTest"></class>
		</classes>


	</test>
</suite>
